@media (min-width: 1350px) {
  .container {
      width: 85%;
  }
}


@media (min-width: 2200px) and (max-width: 2560px) {
  #bw_2 {
    margin-top: 35%;
  }
}

@media (min-width: 1500px) and (max-width: 1920px) {
  #bw_2 {
    margin-top: 39.5%;
  }
}

@media (min-width: 1200px) and (max-width: 1366px) {
  #bw_2 {
    margin-top: 20%;
  }
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
-webkit-transform-origin: 10% 10%;
-ms-transform-origin: 10% 10%;
transform-origin: 10% 10%;
transition: 0.2s;
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
opacity: 0;
filter: alpha(opacity=0);
transition: 0.2s;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
-webkit-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);
-webkit-transform-origin: 10% 90%;
-ms-transform-origin: 10% 90%;
transform-origin: 10% 90%;
transition: 0.2s;
}

.navbar-toggle .icon-bar:nth-of-type(1) {
transition: 0.2s;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
transition: 0.2s;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
transition: 0.2s;
}

@media (min-width: 1200px) {
  .navbar {
    border-radius: 0px;
  }
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display:block !important;
  }
}

body {
  overflow-x: hidden;
}

.navbar {
  min-height: 55px;
}

.navbar-inverse {
  background: transparent;
  border-color: transparent;
}

.navbar-toggle:hover {
    background-color: rgba(0,0,0,0.1) !important;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
	background-color: transparent;
}

.navbar-inverse .navbar-toggle:focus {
	background-color: transparent;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
	background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

.navbar_white {
  display: none;
}

.navbar-brand {
  padding: 10px 15px;
}

@media (min-width: 501px) {
  #mySidenav {
    padding-top: 4%;
  }
  #navbar-brand.hideit {
    display: block;
  }
  .video_desc {
    margin-top: 8%;
  }
}

@media (max-width: 500px) {
  #mySidenav {
    padding-top: 15%;
  }
  #navbar-brand.hideit {
    display: none;
  }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 0%;
    overflow-y: hidden;
}

@media (min-width: 501px) {
	.sidenav.active {
		width: 26%;
	}
}

@media (max-width: 500px) {
	.sidenav.active {
    /* padding-top: 5%; */
		width: 100%;
	}
}

.sidenav a {
    padding: 5% 7%;
    text-decoration: none;
    font-family: "Cabin", Helvetica, Arial, serif;
    font-size: 115%;
    color: #000;
    display: block;

}

.nav_git {
  width: 100%;
  border-radius: 0px;
  background-color: rgba(108, 191, 124, 1.0);
  color: white;
  font-size: 110%;
  /* margin-bottom: -53%; */
  padding-top: 5%;
  padding-bottom: 5%;
  bottom: 0;
  position: absolute;
}

.nav_git:hover {
  background-color: rgba(108, 191, 124, 1.0);
  color: white;
}

#mySidenav {
  animation-duration: 0.2s;
}

.sidenav p {
    padding-top: 5%;
    padding-bottom: 3%;
    padding-left: 7%;
    font-family: "Cabin", Helvetica, Arial, serif;
    font-size: 115%;
    color: rgba(0, 0, 0, 0.38);
    display: block;
}

.sidenav .headings {
  font-size: 90%;
}

.sidenav .headings:hover {
  background-color: white;
  cursor: default;
}

.sidenav a:hover {
  color: white;
  background-color: rgba(108, 191, 124, 0.7);
  transition: 0.2s;
  transition-timing-function: linear;
}

.content {
  background-image: url('man_land.png');
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

@media (min-width: 501px) {
  .logos {
    display: block;
    text-align: center;
  }
  .logos_mobile {
    display: none;
  }
  .banner_heading {
    font-size: 210%;
    color: white;
    font-family: "Cabin", Helvetica, Arial, serif;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 40%;
  }
  .banner_text {
    font-family: "Cabin", Helvetica, Arial, serif;
    color: white;
    font-size: 125%;
    padding-right: 3%;
    padding-bottom: 40%;
  }
}

@media (max-width: 500px) {
  .logos_mobile {
    display: block;
  }
  .logos {
    display: none;
  }
  .banner_heading {
    font-size: 170%;
    color: white;
    font-family: "Cabin", Helvetica, Arial, serif;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40%;
  }
  .banner_text {
    font-family: "Cabin", Helvetica, Arial, serif;
    color: white;
    font-size: 125%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 40%;
  }
}

.logos {
  padding-top: 2%;
  padding-bottom: 2%;
}

.logos_mobile {
  padding-top: 3%;
  padding-bottom: 2%;
}

@media (min-width: 501px) {
  .trio {
    display: block;
  }
  .trio_mobile {
    display: none;
  }
  .trio_icons_text {
    padding-top: 5%;
    font-size: 120%;
    padding-left: 10%;
    padding-right: 10%;
    color: black;
  }
}

@media (max-width: 500px) {
  .trio {
    display: none;
  }
  .trio_mobile {
    display: block;
  }
  .trio_icons_text {
    padding-top: 5%;
    font-size: 110%;
    padding-left: 10%;
    padding-right: 10%;
    color: black;
  }
}

.trio {
  width:100%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: "Cabin", Helvetica, Arial, serif;
}

.trio_mobile {
  margin-right: 2%;
  margin-left: 2%;
  background-color: rgba(0,0,0,0.02);
  padding-top: 10%;
  padding-bottom: 10%;
  font-family: "Cabin", Helvetica, Arial, serif;
}

.trio_image_text {
    transform: rotate(-90deg);
    font-size: 230%;
    padding-top: 30%;
    margin-left: -110%;
    color: rgba(100%,100%,100%,0.5);
}

.trio_image_number {
  font-size:700%;
  color: rgba(100%,100%,100%,0.5);
  margin-left: -22%;
}

.shorts:hover .trio_image_text {
  color: white;
}

.shorts:hover .trio_image_number {
  color: white;
}

.trio ul {
  display: flex;
  /* min-height: 100vh;
  max-height: 100vh; */
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

.trio li {
  flex: 1;
  align-items: stretch;
  padding-top: 20px;
  padding-left: 20px;
  /* padding-bottom: 20px; */
  cursor: pointer;
  transition: all 0.2s;
  background-color:rgba(108, 191, 124, 0.7);
}

.trio li.active {
  flex: 5;
  background: transparent;
  cursor: default;
}

.trio li.active .li_content {
  ocpacity: 1;
}

.trio li .li_content {
  ocpacity: 0;
}

@media (min-width: 501px) {
  .trio_message {
    font-size:170%;
    font-weight:bold;
  }
  .trio_number {
    font-size:470%;
    font-weight:bold;
    border-bottom: 4px solid rgba(108, 191, 124, 1.0);
    width: 4%;
  }
  .trio_heading {
    font-size: 170%;
    font-weight: 600;
  }
  .trio_icons {
    width: 20%;
  }
}

@media (max-width: 500px) {
  .trio_message {
    font-size:150%;
    font-weight:bold;
  }
  .trio_number {
    font-size: 200%;
    font-weight: bold;
    border-bottom: 4px solid rgba(108, 191, 124, 1.0);
    width: 4%;
  }
  .trio_heading {
    font-size: 140%;
    font-weight: 600;
  }
  .trio_icons {
    width: 15%;
  }
}

.footer {
  background-color: rgba(33, 33, 33, 1.0);
  width: 100%;
  color: white;
}

.foot {
  padding-top: 3%;
  padding-bottom: 3%;
}

@media (max-width: 500px) {
  .copyright {
    padding-top:7%;
    color:rgba(255, 255, 255, 0.25);
    font-style:italic;
    padding-bottom:0%;
  }
}

@media (min-width: 501px) {
  .copyright {
    padding-top:4%;
    color:rgba(255, 255, 255, 0.25);
    font-style:italic;
    padding-bottom:0%;
  }
}

@media (max-width: 500px) {
  #logo_white {
    display: none;
  }
}

@media (max-width: 500px) {
  .foot .row .col-sm-12 {
    padding-top: 5%;
    padding-left: 20%;
  }
}

a {
  color: white;
}
a:hover {
  text-decoration: none;
  color: rgba(108, 191, 124, 1.0);
}

.icon {
  font-size: 140%;
}

.subhead {
  color: rgba(255, 255, 255, 0.54);
  font-family: "Cabin", Helvetica, Arial, serif;
}

hr {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  width: 70%;
  margin-left: 0;
}

@media (max-width: 500px) {
  .horizontal_tab .hide_image {
    display: none;
  }
  .horizontal_tab ul {
    overflow-x: auto;
    overflow-y: hidden;
    line-height: 2.5;
    white-space: nowrap;
    margin-left: -12%;
  }

  .horizontal_tab {
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 12%;
    padding-right: 12%;
    font-family: "Cabin", Helvetica, Arial, serif;
  }

  .horizontal_tab_git {
    border-radius: 2px;
    font-size: 115%;
    border: 0px;
    padding: 4% 12%;
    background-color: rgba(108, 191, 124, 1.0);
  }
}

@media (min-width: 501px) {
  .horizontal_tab ul {
    margin-left: -3.5%;
  }

  .horizontal_tab {
    padding-top: 7%;
    padding-bottom: 7%;
    font-family: "Cabin", Helvetica, Arial, serif;
  }

  .horizontal_tab_git {
    border-radius: 2px;
    font-size: 110%;
    border: 0px;
    padding: 3% 10%;
    background-color: rgba(108, 191, 124, 1.0);
  }
}

.horizontal_tab ul {
  list-style-type: none;
  padding-top: 3%;
}

.horizontal_tab li {
  display: inline;
  padding: 1.5% 6%;
  font-size: 127%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.34);
}

.horizontal_tab li:hover {
  cursor: pointer;
}


.horizontal_tab .active {
  border-bottom: 4px solid rgba(108, 191, 124, 1.0);
  padding-bottom: 1.3%;
  color: black;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

.horizontal_tab_info {
  font-size: 127%;
  padding-top: 4%;
  color: black;
}

@media (min-width: 501px) {
  .vertical_tab {
    display: block;
  }
  .vertical_tab_mobile {
    display: none;
  }
}

@media (max-width: 500px) {
  .vertical_tab {
    display: none;
  }
  .vertical_tab_mobile {
    display: block;
  }
}

.vertical_tab_mobile {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 12%;
  padding-right: 12%;
  font-family: "Cabin", Helvetica, Arial, serif;
}

.vertical_tab_mobile_info {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 2%;
  text-align:justify;
}

.vertical_tab_mobile_heading {
  background-color: rgba(108, 191, 124, 1.0);
  padding-top: 6.5%;
  padding-bottom: 6.5%;
  padding-left:5%;
  color: white;
}

.vertical_tab {
  font-family: "Cabin", Helvetica, Arial, serif;
  padding-top: 5%;
  padding-bottom: 5%;
}

.vertical_tab li {
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left:12%;
  font-size: 130%;
}

.vertical_tab li:hover {
  cursor: pointer;
}

.vertical_tab ul {
  list-style-type: none;
  margin-top:6%;
  margin-left: -11%;
}

.vertical_tab .active {
  background-color: rgba(108, 191, 124, 1.0);
  color: white;
  transition: 0.35s;
  transition-timing-function: ease-in-out;
}

.vertical_tab_content {
  padding-top: 6%;
  font-size: 125%;
  padding-left: 10%;
  text-align: justify;
}

@media (min-width: 501px) {
  .video_tab ul {
    list-style-type: none;
    padding-top:5%;
    margin-left: -3.5%;
    margin-right: -53%;
  }

  .pad-left-17 {
    padding-left:17%;
  }

  .video_tab {
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: "Cabin", Helvetica, Arial, serif;
  }

  .video_tab li {
    display: inline;
    padding: 0.7% 4%;
    font-size: 135%;
    text-align: center;
  }
}

.getintext {
  font-family: "Cabin", Helvetica, Arial, serif;
}

@media (max-width: 500px) {
  .getintext {
    text-align: center;
    padding: 0% 15%;
  }

  .getintext .t1 {
    font-size: 140%;
  }

  .getintext .t2 {
    font-size: 140%;
  }

  .video_tab ul {
    list-style-type: none;
    line-height: 3;
    margin-top: 10%;
    margin-left: -12%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .video_tab li {
    display: inline;
    padding: 4% 15%;
    font-size: 135%;
    text-align: center;
  }

  .video_tab {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 12%;
    padding-right: 12%;
    font-family: "Cabin", Helvetica, Arial, serif;
  }
}

.video_tab li:hover {
  cursor: pointer;
}

.video_tab .active {
  background-color: rgba(108, 191, 124, 1.0);
  color: white;
  transition: 0.35s;
  transition-timing-function: ease-in-out;
}

.video_tab_info {
  font-size: 120%;
  padding-top: 4%;
  width: 90%;
  text-align: justify;
}

@media (min-width: 501px) {
  .adv_images {
    width: 10%;
  }
}

@media (max-width: 500px) {
  .adv_images {
    width: 15%;
  }
}


@media (max-width: 500px) {
  .upskilly_adv {
    text-align: center;
  }
  .upskilly_adv_info {
    width: 100%;
  }
}

.upskilly_adv {
  padding-top: 5%;
  padding-bottom: 5%;
  font-family:"Cabin", Helvetica, Arial, serif;
}

.upskilly_adv_header {
  font-size: 130%;
  font-weight: bold;
  padding-top: 3%;
}

.upskilly_adv_info {
  font-size: 120%;
  width: 70%;
}

@media (max-width: 500px) {
  .upskilly_adv {
    text-align: center;
    padding-bottom: 5%;
  }
  .upskilly_adv_info {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
  }
}

.letsdoit {
  margin-top: 10%;
  margin-bottom: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 45%;
  background-color: rgba(108, 191, 124, 1.0);
  color: white;
  font-family: "Cabin", Helvetica, Arial, serif;
  border-radius: 2px;
}

.letsdoit:hover {
  background-color: rgba(108, 191, 124, 1.0);
  color: white;
}

@media (min-width: 501px) {
  .letsdoit {
    margin-left: 2%;
  }
}

@media (max-width: 500px) {
  .letsdoit {
    margin-left: 24%;
    padding-top: 4%;
    padding-bottom: 4%;
    width: 50%;
  }
}

.letsdoit_text {
  font-size: 125%;
  margin:auto;
}

.modal-header {
  margin-top: 2%;
  border-bottom: 0px;
  font-family: "Cabin", Helvetica, Arial, serif;
  font-size: 103%;
}

/*modal form */
/* Start */

.form_button {
  text-align: right;
}

.form_button .btn {
  padding: 6px 50px;
  border-radius: 2px;
}

label {
  font-family: "Cabin", Helvetica, Arial, serif;
  font-weight: 600;
  font-size: 80%;
  color: rgba(105, 105, 105, 1.0);
}

/* End */

.accordion {
  font-size: 1rem;
  width: 30vw;
  margin: 0 auto;
  border-radius: 5px;
  font-family: "Cabin", Helvetica, Arial, serif;
}

.accordion-header,
.accordion-body {
  background: white;
}

.accordion-header {
  padding: 1em 1.2em;
  background: rgba(108, 191, 124, 1.0);
  color: white;
  cursor: pointer;
  font-size: 175%;
  letter-spacing: .1em;
  transition: all .3s;
}

.accordion-body {
  background: #fcfcfc;
  color: black;
  display: none;
}

.accordion-body__contents {
  padding: 1.5em 1.5em;
  font-size: 155%;
}

.accordion__item.active:last-child .accordion-header {
  border-radius: none;
}

.accordion:first-child > .accordion__item > .accordion-header {
  border-bottom: 1px solid transparent;
}

.accordion__item > .accordion-header:after {
  content: "\f3d0";
  font-family: IonIcons;
  font-size: 1.2em;
  float: right;
  position: relative;
  top: -2px;
  transition: .3s all;
  transform: rotate(0deg);
}

.accordion__item.active > .accordion-header:after {
  transform: rotate(-180deg);
}

.accordion__item.active .accordion-header {
  background: rgba(108, 191, 124, 1.0);
}

.accordion__item .accordion__item .accordion-header {
  background: rgba(108, 191, 124, 1.0);
  color: black;
}

@media screen and (max-width: 1000px) {
  .accordion {
    width: 100%;
  }
}
