@media (min-width: 1350px) {
  .container {
      width: 1300px;
  }
}

html,body
{
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
-webkit-transform-origin: 10% 10%;
-ms-transform-origin: 10% 10%;
transform-origin: 10% 10%;
transition: 0.2s;
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
opacity: 0;
filter: alpha(opacity=0);
transition: 0.2s;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
-webkit-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);
-webkit-transform-origin: 10% 90%;
-ms-transform-origin: 10% 90%;
transform-origin: 10% 90%;
transition: 0.2s;
}

.navbar-toggle .icon-bar:nth-of-type(1) {
transition: 0.2s;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
transition: 0.2s;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
transition: 0.2s;
}

@media (min-width: 1200px) {
  .navbar {
    border-radius: 0px;
  }
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display:block !important;
  }
}

.navbar {
  min-height: 55px;
}

.navbar-inverse {
  background: transparent;
  border-color: transparent;
}

.navbar-toggle:hover {
    background-color: transparent !important;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
	background-color: transparent;
}

.navbar-inverse .navbar-toggle:focus {
	background-color: transparent;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
	background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

.navbar_white {
  display: none;
}

.navbar-brand {
  padding: 10px 15px;
}

@media (min-width: 501px) {
  #mySidenav {
    padding-top: 4%;
  }
  #navbar-brand.hideit {
    display: block;
  }
  .address {
    font-size: 120%;
    width: 50%;
    line-height: 2;
  }
}

.address span {
  font-weight: 600;
  padding-left: 0%;
}

@media (max-width: 500px) {
  #mySidenav {
    padding-top: 15%;
  }
  #navbar-brand.hideit {
    display: none;
  }
  .address {
    font-size: 120%;
    padding-left: 18%;
    padding-right: 18%;
    line-height: 2;
  }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 0%;
}

@media (min-width: 501px) {
	.sidenav.active {
		width: 26%;
	}
}

@media (max-width: 500px) {
	.sidenav.active {
    /* padding-top: 5%; */
		width: 100%;
	}
}

.sidenav a {
    padding: 5% 7%;
    text-decoration: none;
    font-family: "Cabin", Helvetica, Arial, serif;
    font-size: 115%;
    color: #000;
    display: block;
}

.nav_git {
    width: 100%;
    border-radius: 0px;
    background-color: rgba(108, 191, 124, 1.0);
    color: white;
    font-size: 110%;
    /* margin-bottom: -53%; */
    padding-top: 5%;
    padding-bottom: 5%;
    bottom: 0;
    position: absolute;
}

.nav_git:hover {
  background-color: rgba(108, 191, 124, 1.0);
  color: white;
}

#mySidenav {
  animation-duration: 0.2s;
}

.sidenav p {
    padding-top: 5%;
    padding-bottom: 3%;
    padding-left: 7%;
    font-family: "Cabin", Helvetica, Arial, serif;
    font-size: 115%;
    color: rgba(0, 0, 0, 0.38);
    display: block;
}

.sidenav .headings {
  font-size: 90%;
}

.sidenav .headings:hover {
  background-color: white;
  cursor: default;
}

.sidenav a:hover {
  color: white;
  background-color: rgba(108, 191, 124, 0.7);
  transition: 0.2s;
  transition-timing-function: linear;
}

.content {
  background-image: url("/images/contactus.png");
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  font-family: "Cabin", Helvetica, Arial, serif;
}

@media (min-width: 501px) {
  .contentData {
    color: white;
    padding-top: 16%;
    padding-bottom: 18%;
  }

  .contentData h1 {
    font-size: 720%;
  }

  .contentData h2 {
    font-size: 320%;
  }
}

@media (max-width: 500px) {
  .contentData {
    color: white;
    padding-top: 40%;
    padding-bottom: 40%;
  }

  .contentData h1 {
    font-size: 200%;
    text-align: center;
  }

  .contentData h2 {
    font-size: 120%;
    text-align: center;
  }
}


.maps {
  font-family: "Cabin", Helvetica, Arial, serif;
  padding: 5% 0%;
}

@media (min-width: 501px) {
  .maps .cbuttons {
    font-size: 140%;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 60%;
    background-color: rgba(108, 191, 124, 1.0);
    color: white;
    text-align: left;
  }

  .maps h3 {
    font-weight: 600;
  }

  .maps .gmap iframe {
    width: 600px;
    height: 450px;
  }
}

@media (max-width: 500px) {
  .maps .cbuttons {
    padding-top: 3%;
    padding-bottom: 3%;
    width: 75%;
    background-color: rgba(108, 191, 124, 1.0);
    color: white;
    text-align: left;
  }

  .maps .row {
    text-align: center;
  }

  .maps h3 {
    font-weight: 600;
    font-size: 125%;
  }

  .maps .gmap {
    padding-top:10%;
  }

  .maps .gmap iframe {
    width: 300px;
    height: 250px;
  }
}

i {
  padding-left:5%;
}

span {
  padding-left: 18%;
}

.footer {
  background-color: rgba(33, 33, 33, 1.0);
  width: 100%;
  color: white;
}

.foot {
  padding-top: 3%;
  padding-bottom: 3%;
}

@media (max-width: 500px) {
  .copyright {
    padding-top:7%;
    color:rgba(255, 255, 255, 0.25);
    font-style:italic;
    padding-bottom:0%;
  }
}

@media (min-width: 501px) {
  .copyright {
    padding-top:4%;
    color:rgba(255, 255, 255, 0.25);
    font-style:italic;
    padding-bottom:0%;
  }
}

@media (max-width: 500px) {
  #logo_white {
    display: none;
  }
}

@media (max-width: 500px) {
  .foot .row .col-sm-12 {
    padding-top: 5%;
    padding-left: 20%;
  }
}

a {
  color: white;
}
a:hover {
  text-decoration: none;
  color: rgba(108, 191, 124, 1.0);
}

.icon {
  font-size: 140%;
}

.subhead {
  color: rgba(255, 255, 255, 0.54);
  font-family: "Cabin", Helvetica, Arial, serif;
}

.footer hr {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  width: 70%;
  margin-left: 0;
}

label {
    font-family: "Cabin", Helvetica, Arial, serif;
    font-weight: 600;
    font-size: 80%;
    color: rgba(105, 105, 105, 1.0);
}

.modal-header {
    margin-top: 2%;
    border-bottom: 0px;
    font-family: "Cabin", Helvetica, Arial, serif;
    font-size: 103%;
}

.form_button {
    text-align: right;
}

.form_button .btn {
    padding: 6px 50px;
    border-radius: 2px;
}

.footer i {
  padding-left: 0%;
}
