@media (min-width: 1200px) {
  .container {
    width: 1300px;
  }
}

.content {
  background-image: url("/images/contactus.png");
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  font-family: "Cabin", Helvetica, Arial, serif;
}

@media (min-width: 501px) {
  .contentData {
    color: white;
    padding-top: 16%;
    padding-bottom: 18%;
  }

  .contentData h1 {
    font-size: 720%;
  }

  .contentData h2 {
    font-size: 320%;
  }
}

@media (max-width: 500px) {
  .contentData {
    color: white;
    padding-top: 40%;
    padding-bottom: 40%;
  }

  .contentData h1 {
    font-size: 200%;
    text-align: center;
  }

  .contentData h2 {
    font-size: 120%;
    text-align: center;
  }
}


.maps {
  font-family: "Cabin", Helvetica, Arial, serif;
  padding: 5% 0%;
}

@media (min-width: 501px) {
  .maps .cbuttons {
    font-size: 140%;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 60%;
    background-color: rgba(108, 191, 124, 1.0);
    color: white;
    text-align: left;
  }

  .maps h3 {
    font-weight: 600;
  }

  .maps .gmap iframe {
    width: 600px;
    height: 450px;
  }
}

@media (max-width: 500px) {
  .maps .cbuttons {
    padding-top: 3%;
    padding-bottom: 3%;
    width: 75%;
    background-color: rgba(108, 191, 124, 1.0);
    color: white;
    text-align: left;
  }

  .maps .row {
    text-align: center;
  }

  .maps h3 {
    font-weight: 600;
    font-size: 125%;
  }

  .maps .gmap {
    padding-top:10%;
  }

  .maps .gmap iframe {
    width: 280px;
    height: 220px;
  }
}

i {
  padding-left:5%;
}

span {
  padding-left: 18%;
}

.footer {
  background-color: rgba(33, 33, 33, 1.0);
  width: 100%;
  color: white;
}

.foot {
  padding-top: 3%;
  padding-bottom: 3%;
}

@media (max-width: 500px) {
  .copyright {
    padding-top:7%;
    color:rgba(255, 255, 255, 0.25);
    font-style:italic;
    padding-bottom:0%;
  }
}

@media (min-width: 501px) {
  .copyright {
    padding-top:4%;
    color:rgba(255, 255, 255, 0.25);
    font-style:italic;
    padding-bottom:0%;
  }
}

@media (max-width: 500px) {
  #logo_white {
    display: none;
  }
}

@media (max-width: 500px) {
  .foot .row .col-sm-12 {
    padding-top: 5%;
    padding-left: 20%;
  }
}

a {
  color: white;
}
a:hover {
  text-decoration: none;
  color: rgba(108, 191, 124, 1.0);
}

.icon {
  font-size: 140%;
}

.subhead {
  color: rgba(255, 255, 255, 0.54);
  font-family: "Cabin", Helvetica, Arial, serif;
}

.footer hr {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  width: 70%;
  margin-left: 0;
}
