body {
  overflow-x: hidden;
}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

@media (min-width: 501px) {
  .graph_header {
    font-size: 200%;
  }
  .graph_para {
    font-size: 125%;
  }
}

@media (max-width: 500px) {
  .graph_header {
    font-size: 150%;
  }
  .graph_para {
    font-size: 100%;
  }
}

@media (max-width: 600px) {
  .graph {
    background-image: url("bg_mob.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: auto;
  }
}

@media (min-width: 601px) {
  .graph {
    background-image: url("background.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: auto;
  }
}

.navbar {
  margin-bottom: 0;
}

.navbarElements {
  font-size: 120%;
  color: black;
  margin-top: 0.7%;
  font-family: "Cabin", Helvetica, Arial, serif;
}

hr {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  width: 70%;
  margin-left: 0;
}

.graphpe {
  color: white;
  font-family: "Cabin", Helvetica, Arial, serif;
  padding-top: 6%;
  padding-left: 10%;
  padding-right: 10%;
}

.image-fluid {
  max-width: 100%;
  height: auto;
}

.icon {
  font-size: 140%;
}

.subhead {
  color: rgba(255, 255, 255, 0.54);
  font-family: "Cabin", Helvetica, Arial, serif;
}

.people {
  padding-top: 4.5%;
  font-family: "Cabin", Helvetica, Arial, serif;
}

.quote {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
}

.bs-callout {
    padding-left: 4%;
    margin: 20px 0;
    border: 1px solid white;
    border-left-width: 5px;
    border-radius: 0px;
}

.bs-callout-success {
    border-left-color: rgba(108, 191, 124, 1.0);
    font-family: "Cabin", Helvetica, Arial, serif;
    font-weight: 400;
    font-size: 125%;
}

.percent {
  color: rgba(108, 191, 124, 1.0);
  z-index: -1;
  font-family: "Cabin", Helvetica, Arial, serif;
}

@media (max-width: 500px) {
  .percent {
    font-size: 500%;
  }
}

@media (min-width: 501px) {
  .percent {
    font-size: 700%;
  }
}

@media (max-width: 500px) {
  .leaves_1 {
    display: none;
  }
  .leaves_2 {
    display: block;
  }
}

@media (min-width: 501px) {
  .leaves_1 {
    display: block;
  }
  .leaves_2 {
    display: none;
  }
}

.percent_img {
  position: absolute;
}

.letsdoit {
  margin-top: 10%;
  margin-bottom: 5%;
  background-color: rgba(108, 191, 124, 1.0);
  color: white;
  font-family: "Cabin", Helvetica, Arial, serif;
  border-radius: 2px;
}

@media (min-width: 501px) {
  .letsdoit {
    margin-left: 2%;
  }
}

@media (max-width: 500px) {
  .letsdoit {
    margin-left: 17%;
  }
}

.letsdoit_text {
  padding: 8%;
  font-size: 120%;
  margin:auto;
}

.footer {
  background-color: rgba(33, 33, 33, 1.0);
  width: 100%;
  color: white;
}

.foot {
  padding-top: 3%;
  padding-bottom: 3%;
}

@media (max-width: 500px) {
  .copyright {
    padding-top:7%;
    color:rgba(255, 255, 255, 0.25);
    font-style:italic;
    padding-bottom:0%;
  }
}

@media (min-width: 501px) {
  .copyright {
    padding-top:4%;
    color:rgba(255, 255, 255, 0.25);
    font-style:italic;
    padding-bottom:0%;
  }
}

@media (max-width: 500px) {
  #logo_white {
    display: none;
  }
}

@media (max-width: 500px) {
  .foot .row .col-sm-12 {
    padding-top: 5%;
    padding-left: 20%;
  }
}

.navbar-header img {
  margin-top: -5%;
}

a {
  color: white;
}
a:hover {
  text-decoration: none;
  color: rgba(108, 191, 124, 1.0);
}

.nav li a {
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.navbar-default {
  background-color: white;
}

.navhead {
  margin-top: 0.5%;
}

.navheight {
  height: 4%;
}

.getintouch {
  background-color: white;
  margin-top: -2%;
  border-radius: 2px;
  width: 10em;
  font-family: "Cabin", Helvetica, Arial, serif;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 0%;
}

.sidenav a {
    padding: 5% 10%;
    text-decoration: none;
    font-family: "Cabin", Helvetica, Arial, serif;
    font-size: 115%;
    color: #000;
    display: block;

}

.nav_git {
  width: 100%;
  border-radius: 0px;
  background-color: rgba(108, 191, 124, 1.0);
  color: white;
  font-size: 115%;
  margin-top: 5%;
  padding-top: 4%;
  padding-bottom: 4%;
}

#mySidenav {
  animation-duration: 0.2s;
}

.sidenav p {
    padding-top: 5%;
    padding-bottom: 3%;
    padding-left: 10%;
    font-family: "Cabin", Helvetica, Arial, serif;
    font-size: 115%;
    color: rgba(0, 0, 0, 0.38);
    display: block;
}

.sidenav .closebtn {
  font-size: 200%;
  margin-top: 50%;
  padding: 3%;
  margin-left: 80%;
  margin-right: 10%;
}
.sidenav .closebtn:hover {
  cursor: pointer;
  background-color: white;
}

.sidenav .headings {
  font-size: 90%;
}

.sidenav .headings:hover {
  background-color: white;
  cursor: default;
}

.sidenav a:hover {
  color: white;
  background-color: rgba(108, 191, 124, 1.0);
}

@media (min-width: 501px) {
  .icons {
    display: block;
  }
  .icons_small {
    display: none;
  }
}

@media (max-width: 500px) {
  .icons {
    display: none;
  }
  .icons_small {
    display: block;
  }
}

.modal-header {
  margin-top: 2%;
  border-bottom: 0px;
  font-family: "Cabin", Helvetica, Arial, serif;
  font-size: 103%;
}

.form_button {
  text-align: right;
}

.form_button .btn {
  padding: 6px 50px;
  border-radius: 2px;
}

label {
  font-family: "Cabin", Helvetica, Arial, serif;
  font-weight: 600;
  font-size: 80%;
  color: rgba(105, 105, 105, 1.0);
}
