@media (min-width: 1200px) {
  .container {
    width: 1300px;
  }
}

html,body
{
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
-webkit-transform-origin: 10% 10%;
-ms-transform-origin: 10% 10%;
transform-origin: 10% 10%;
transition: 0.2s;
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
opacity: 0;
filter: alpha(opacity=0);
transition: 0.2s;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
-webkit-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);
-webkit-transform-origin: 10% 90%;
-ms-transform-origin: 10% 90%;
transform-origin: 10% 90%;
transition: 0.2s;
}

.navbar-toggle .icon-bar:nth-of-type(1) {
transition: 0.2s;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
transition: 0.2s;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
transition: 0.2s;
}

@media (min-width: 1200px) {
  .navbar {
    border-radius: 0px;
  }
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display:block !important;
  }
}

.navbar {
  min-height: 55px;
}

.navbar-inverse {
  background: transparent;
  border-color: transparent;
}

.navbar-toggle:hover {
    background-color: transparent !important;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
	background-color: transparent;
}

.navbar-inverse .navbar-toggle:focus {
	background-color: transparent;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
	background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

.navbar_white {
  display: none;
}

.navbar-brand {
  padding: 10px 15px;
}

@media (min-width: 501px) {
  #mySidenav {
    padding-top: 4%;
  }
  #navbar-brand.hideit {
    display: block;
  }
}

@media (max-width: 500px) {
  #mySidenav {
    padding-top: 15%;
  }
  #navbar-brand.hideit {
    display: none;
  }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 0%;
}

@media (min-width: 501px) {
	.sidenav.active {
		width: 26%;
	}
}

@media (max-width: 500px) {
	.sidenav.active {
    /* padding-top: 5%; */
		width: 100%;
	}
}

.sidenav a {
    padding: 5% 7%;
    text-decoration: none;
    font-family: "Cabin", Helvetica, Arial, serif;
    font-size: 115%;
    color: #000;
    display: block;
}

.nav_git {
    width: 100%;
    border-radius: 0px;
    background-color: rgba(108, 191, 124, 1.0);
    color: white;
    font-size: 110%;
    /* margin-bottom: -53%; */
    padding-top: 5%;
    padding-bottom: 5%;
    bottom: 0;
    position: absolute;
}

.nav_git:hover {
  background-color: rgba(108, 191, 124, 1.0);
  color: white;
}

#mySidenav {
  animation-duration: 0.2s;
}

.sidenav p {
    padding-top: 5%;
    padding-bottom: 3%;
    padding-left: 7%;
    font-family: "Cabin", Helvetica, Arial, serif;
    font-size: 115%;
    color: rgba(0, 0, 0, 0.38);
    display: block;
}

.sidenav .headings {
  font-size: 90%;
}

.sidenav .headings:hover {
  background-color: white;
  cursor: default;
}

.sidenav a:hover {
  color: white;
  background-color: rgba(108, 191, 124, 0.7);
  transition: 0.2s;
  transition-timing-function: linear;
}

@media (min-width: 501px) {
  .content {
    background-image: url("/images/prejoining.png");
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
  }

  .contentData {
    padding-top: 16%;
    padding-bottom: 16%;
    line-height: 2;
    color: white;
    font-family: "Cabin", Helvetica, Arial, serif;
  }

  .contentData .banner_head {
    font-size: 230%;
    line-height: 1.5;
    width: 50%;
  }

  .contentData .banner_text {
    font-size: 130%;
    width: 45%;
  }
}

@media (max-width: 500px) {
  .content {
    background-image: url("/images/prejoining_mobile.png");
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
  }

  .contentData {
    padding-top: 40%;
    padding-bottom: 40%;
    line-height: 1.5;
    color: white;
    font-family: "Cabin", Helvetica, Arial, serif;
  }

  .contentData .banner_head {
    font-size: 140%;
    line-height: 1.5;
    padding-left: 12%;
    padding-right: 12%;
    text-align: center;
  }

  .contentData .banner_text {
    font-size: 100%;
    padding-left: 12%;
    padding-right: 12%;
    text-align: center;
  }
}

.getintext {
  font-family: "Cabin", Helvetica, Arial, serif;
}

@media (max-width: 500px) {
  .triangle {
    font-family: "Cabin", Helvetica, Arial, serif;
    color: black;
    padding-top: 8%;
    padding-bottom: 8%;
  }

  .triangle h3 {
    text-align:center;
    font-size: 115%;
  }
  .triangle ul {
    padding-top: 3%;
    padding-bottom: 3%;
    /* margin-left: -1rem; */
    overflow-x: scroll;
    white-space: nowrap;
    overflow-y: hidden;
    line-height: 1.5;
  }
  .triangle li {
    display: inline;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 4%;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    color: rgba(0,0,0,0.5);
  }
  .triangle li.active {
    border-bottom: 4px solid rgba(108, 191, 124, 1.0);
    padding-bottom: 3%;
    color: black;
  }

  .pyramid_left {
    margin-left: -41%;
  }

  .pyramid_right {
    margin-left: 3.3%;
  }

  .tri_top {
    margin-top: 15%;
    margin-left: 2%;
  }

  #pyramid {
    width: 85%;
  }

  #pyramid2 {
    width: 85%;
  }

  #pyramid_left {
    margin-top: -61%;
    width: 41%;
  }

  #pyramid_right {
    width: 43%;
    margin-top: -60.7%;
    margin-left: -41.5%;
    display:none;
  }

  .getintext {
    text-align: center;
    padding: 0% 15%;
  }

  .getintext .t1 {
    font-size: 140%;
  }

  .getintext .t2 {
    font-size: 140%;
  }
}

@media (min-width: 501px) {
  .triangle {
    font-family: "Cabin", Helvetica, Arial, serif;
    color: black;
    padding-top: 4%;
    padding-bottom: 4%;
  }

  .triangle h3 {
    text-align:center;
  }

  .triangle ul {
    padding-top: 3%;
    padding-bottom: 1.7%;
    padding-left: 22%;
  }

  .triangle li {
    display: inline;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1.7%;
    font-size: 140%;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    color: rgba(0,0,0,0.5);
  }
  .triangle li.active {
    border-bottom: 4px solid rgba(108, 191, 124, 1.0);
    padding-bottom: 1.3%;
    color: black;
    transition: 0.2s;
    transition-timing-function: ease-in;
  }

  .pyramid_left {
    margin-left: -19.5%;
  }

  .pyramid_right {
    margin-left: 2%;
  }

  .tri_top {
    margin-top: 5%;
  }

  #pyramid {
    width: 40%;
  }

  #pyramid2 {
    width: 40%;
  }

  #pyramid_left {
    margin-top: -28.5%;
    width: 20.5%;
  }

  #pyramid_right {
    width: 20%;
    margin-top: -28.5%;
    margin-left: -19.5%;
    display:none;
  }
}

.triangle li:hover {
  cursor: pointer;
}

#pyramid_left {
  animation-duration: 0.2s;
}

#pyramid_right {
  animation-duration: 0.2s;
}

@media (max-width: 500px) {
  .flips .heading {
    text-align:center;
    color:black;
    font-size: 120%;
  }

  .flips .col-md-5 {
    display: none;
  }

  .flips p {
    font-size: 105%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
  }

  .flips .flip_sub_ul {
    overflow-x: scroll;
    white-space: nowrap;
    overflow-y: hidden;
    line-height: 4;
  }

  .flips .flip_sub_li {
    display: inline;
    font-size: 105%;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 4%;
    color: rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }

  .flip_1_right {
    padding-top: 7%;
    font-size: 100%;
    padding-left: 8%;
    padding-right: 5%;
    line-height: 2;
  }

  .flips .flip_sub_li.section2 {
    display: inline;
    font-size: 105%;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 4%;
    color: rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
}

@media (min-width: 501px) {
  .flips .heading {
    /* font-weight:600; */
    text-align:center;
    color:black;
  }

  .flips p {
    font-size: 130%;
  }

  .flips .flip_sub_li {
    display: inline;
    font-size: 140%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 4%;
    color: rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }

  .flip_1_right {
    padding-top: 7%;
    font-size: 120%;
    line-height: 2;
  }

  .flips .flip_sub_li.section2 {
    display: inline;
    font-size: 140%;
    padding-left: 11.5%;
    padding-right: 11.5%;
    padding-bottom: 4%;
    color: rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
}

.flips {
  font-family: "Cabin", Helvetica, Arial, serif;
  padding-top: 5%;
  padding-bottom: 5%;
}

.flips .flip_sub_ul {
  list-style-type: none;
  text-align: center;
  margin-left: -10%;
  Padding-top: 8%;
}

.flips .flip_sub_li:hover {
  cursor: pointer;
}

.flips .flip_sub_li.active {
  border-bottom: 4px solid rgba(108, 191, 124, 1.0);
  padding-bottom: 3.6%;
  color: black;
  transition: 0.2s;
  transition-timing-function: ease-in;
}



#flip_11 {
  animation-duration: 0.5s;
}

#flip_12 {
  animation-duration: 0.5s;
}

#flip_21 {
  animation-duration: 0.5s;
}

#flip_22 {
  animation-duration: 0.5s;
}

@media (min-width: 501px) {
  #adv_web {
    display: block;
  }

  #adv_mobile {
    display: none;
  }

  #adv_web .col-md-7 {
    padding: 7% 7%;
    text-align: justify;
  }

  .adv .col-md-7 h3 {
    text-align: left;
  }

  .adv h3 {
    text-align:center;
  }

  .adv img {
    width: 95%;
  }

  .adv p {
    font-size:125%;
  }
}

@media (max-width: 500px) {
  #adv_web {
    display: none;
  }

  #adv_mobile {
    display: block;
  }

  .adv h3 {
    text-align:center;
    font-size: 125%;
  }

  .adv img {
    width: 90%;
    padding-left: 10%;
  }

  .adv .row .col-md-7 {
    padding: 9% 9%;
    line-height: 1.5;
  }

  .adv p {
    font-size: 100%;
    padding: 0% 8%;
    text-align: center;
  }
}

.adv {
  padding: 6% 0%;
  font-family: "Cabin", Helvetica, Arial, serif;
  color: black;
}

.adv .row {
  padding-top: 5%;
}

.letsdoit {
  margin-top: 10%;
  margin-bottom: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 45%;
  background-color: rgba(108, 191, 124, 1.0);
  color: white;
  font-family: "Cabin", Helvetica, Arial, serif;
  border-radius: 2px;
}

.letsdoit:hover {
  background-color: rgba(108, 191, 124, 1.0);
  color: white;
}

.letsdoit_text {
  font-size: 125%;
  margin:auto;
}

@media (min-width: 501px) {
  .letsdoit {
    margin-left: 2%;
  }
  .bottom-up {
    padding-left: 20%;
  }
  .pad-left-17 {
    padding-left:17%;
  }
}

@media (max-width: 500px) {
  .letsdoit {
    margin-left: 24%;
    padding-top: 4%;
    padding-bottom: 4%;
    width: 50%;
  }
  .bottom {
    font-size: 140%;
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
  }
  .bottom-up {
    padding-left: 0%;
  }
}

.footer {
  background-color: rgba(33, 33, 33, 1.0);
  width: 100%;
  color: white;
}

.foot {
  padding-top: 3%;
  padding-bottom: 3%;
}

@media (max-width: 500px) {
  .copyright {
    padding-top:7%;
    color:rgba(255, 255, 255, 0.25);
    font-style:italic;
    padding-bottom:0%;
  }
}

@media (min-width: 501px) {
  .copyright {
    padding-top:4%;
    color:rgba(255, 255, 255, 0.25);
    font-style:italic;
    padding-bottom:0%;
  }
}

@media (max-width: 500px) {
  #logo_white {
    display: none;
  }
}

@media (max-width: 500px) {
  .foot .row .col-sm-12 {
    padding-top: 5%;
    padding-left: 20%;
  }
}

a {
  color: white;
}
a:hover {
  text-decoration: none;
  color: rgba(108, 191, 124, 1.0);
}

.icon {
  font-size: 140%;
}

.subhead {
  color: rgba(255, 255, 255, 0.54);
  font-family: "Cabin", Helvetica, Arial, serif;
}

hr {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  width: 70%;
  margin-left: 0;
}

label {
    font-family: "Cabin", Helvetica, Arial, serif;
    font-weight: 600;
    font-size: 80%;
    color: rgba(105, 105, 105, 1.0);
}

.modal-header {
    margin-top: 2%;
    border-bottom: 0px;
    font-family: "Cabin", Helvetica, Arial, serif;
    font-size: 103%;
}

.form_button {
    text-align: right;
}

.form_button .btn {
    padding: 6px 50px;
    border-radius: 2px;
}
