@media (min-width: 1200px) {
  .container {
    width: 1300px;
  }
}

html,body
{
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
-webkit-transform-origin: 10% 10%;
-ms-transform-origin: 10% 10%;
transform-origin: 10% 10%;
transition: 0.2s;
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
opacity: 0;
filter: alpha(opacity=0);
transition: 0.2s;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
-webkit-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);
-webkit-transform-origin: 10% 90%;
-ms-transform-origin: 10% 90%;
transform-origin: 10% 90%;
transition: 0.2s;
}

.navbar-toggle .icon-bar:nth-of-type(1) {
transition: 0.2s;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
transition: 0.2s;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
transition: 0.2s;
}

@media (min-width: 1200px) {
  .navbar {
    border-radius: 0px;
  }
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display:block !important;
  }
}

.navbar {
  min-height: 55px;
}

.navbar-inverse {
  background: transparent;
  border-color: transparent;
}

.navbar-toggle:hover {
    background-color: transparent !important;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
	background-color: transparent;
}

.navbar-inverse .navbar-toggle:focus {
	background-color: transparent;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
	background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

.navbar_white {
  display: none;
}

.navbar-brand {
  padding: 10px 15px;
}

@media (min-width: 501px) {
  #mySidenav {
    padding-top: 4%;
  }
  #navbar-brand.hideit {
    display: block;
  }
}

@media (max-width: 500px) {
  #mySidenav {
    padding-top: 15%;
  }
  #navbar-brand.hideit {
    display: none;
  }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 0%;
}

@media (min-width: 501px) {
	.sidenav.active {
		width: 26%;
	}
}

@media (max-width: 500px) {
	.sidenav.active {
    /* padding-top: 5%; */
		width: 100%;
	}
}

.sidenav a {
    padding: 5% 7%;
    text-decoration: none;
    font-family: "Cabin", Helvetica, Arial, serif;
    font-size: 115%;
    color: #000;
    display: block;
}

.nav_git {
    width: 100%;
    border-radius: 0px;
    background-color: rgba(108, 191, 124, 1.0);
    color: white;
    font-size: 110%;
    /* margin-bottom: -53%; */
    padding-top: 5%;
    padding-bottom: 5%;
    bottom: 0;
    position: absolute;
}

.nav_git:hover {
  background-color: rgba(108, 191, 124, 1.0);
  color: white;
}

#mySidenav {
  animation-duration: 0.2s;
}

.sidenav p {
    padding-top: 5%;
    padding-bottom: 3%;
    padding-left: 7%;
    font-family: "Cabin", Helvetica, Arial, serif;
    font-size: 115%;
    color: rgba(0, 0, 0, 0.38);
    display: block;
}

.sidenav .headings {
  font-size: 90%;
}

.sidenav .headings:hover {
  background-color: white;
  cursor: default;
}

.sidenav a:hover {
  color: white;
  background-color: rgba(108, 191, 124, 0.7);
  transition: 0.2s;
  transition-timing-function: linear;
}

.content {
  background-image: url("/images/handshake.png");
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  font-family: "Cabin", Helvetica, Arial, serif;
}

.getintext {
    font-family: "Cabin", Helvetica, Arial, serif;
}

@media (max-width: 500px) {
  .subnavbar {
    display: none;
  }

  .subnavbar_mobile {
    display: block;
  }

  .contentData {
    color: white;
    padding-top: 22%;
    padding-bottom: 25%;
  }

  .contentData .data {
    padding-top: 10%;
  }

  .contentData h2 {
    line-height:1.5;
    font-size: 140%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
  }

  .contentData p {
    padding-bottom: 2rem;
    margin-bottom: -1.75rem;
  }

  .contentData .data p {
    text-align: center !important;
    padding: 0% 5%;
  }

  .getintext {
    text-align: center;
    padding: 0% 15%;
  }

  .getintext .t1 {
    font-size: 140%;
  }

  .getintext .t2 {
    font-size: 140%;
  }
}

@media (min-width: 501px) {
  .pad-left-17 {
    padding-left:17%;
  }

  .subnavbar {
    display: block;
  }

  .subnavbar_mobile {
    display: none;
  }

  .contentData {
    color: white;
    padding-top: 6%;
    padding-bottom: 10%;
  }

  .contentData .data {
    padding-top: 5%;
  }

  .contentData .data p {
    font-size: 130%;
  }
}

.contentData .subnavbar p {
  font-size: 130%;
  padding-bottom: 2rem;
  margin-bottom: -1.75rem;
}

.contentData .subnavbar_mobile p {
  font-size: 115%;
  padding-bottom: 2rem !important;
  margin-bottom: -2.2rem !important;
}

.content .subnavbar p.subnav {
  display:inline-block;
  float:right;
  padding-left:3%;
  padding-right:3%;
}

.content .subnavbar p.subnav:hover {
  cursor: pointer;
}

.content .subnavbar_mobile p.subnav:hover {
  cursor: pointer;
}

.content .subnavbar p.active {
  border-bottom: 4px solid white;
}

.content .subnavbar_mobile p.active {
  border-bottom: 2px solid white;
}

.content hr {
  border-top: 2px solid rgba(255, 255, 255, 0.2);
}

.contentData .col-md-6 p {
  text-align:justify;
  padding-right: 5%;
}

@media (min-width: 501px) {
  .flip_cards {
    display: block;
  }

  .flip_cards_mobile {
    display: none;
  }

  .flips h3 {
    text-align: center;
    font-weight: 600;
    color: black;
  }

  .flips p {
    color: rgba(0,0,0,0.5);
    text-align: center;
    font-size: 130%;
  }
}

#flipper_10 {
  display: none;
  animation-duration: 0.7s;
}
#flipper_10m {
  display: none;
  animation-duration: 0.7s;
}

#flipper_20 {
  display: none;
  animation-duration: 0.7s;
}
#flipper_20m {
  display: none;
  animation-duration: 0.7s;
}

#flipper_30 {
  display: none;
  animation-duration: 0.7s;
}
#flipper_30m {
  display: none;
  animation-duration: 0.7s;
}

#flipper_40 {
  display: none;
  animation-duration: 0.7s;
}
#flipper_40m {
  display: none;
  animation-duration: 0.7s;
}

#flipper_50 {
  display: none;
  animation-duration: 0.7s;
}
#flipper_50m {
  display: none;
  animation-duration: 0.7s;
}


@media (max-width: 500px) {
  .flip_cards {
    display: none;
  }

  .flip_cards_mobile {
    display: block;
  }

  .flips h3 {
    text-align: center;
    font-size: 130%;
    padding: 0% 10%;
    font-weight: 600;
    color: black;
  }

  .flips p {
    color: rgba(0,0,0,0.5);
    text-align: center;
    padding: 0% 10%;
    font-size: 110%;
  }
}

.flips {
  padding: 6% 0%;
  font-family: "Cabin", Helvetica, Arial, serif;
}

.flips .flip_cards {
  padding-top: 5%;
}

.flips .flip_cards img {
  width: 19%;
  padding-left: 0.3%;
  padding-right: 0.3%;
}

.flips .flip_cards img:hover {
  cursor: pointer;
}

.flips .flip_cards_mobile ul {
  list-style-type: none;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-left: 5%;
  padding-right: 5%;
}

.flips .flip_cards_mobile {
  padding-top: 4%;
  padding-bottom: 4%;
}

.flips .flip_cards_mobile li {
  display: inline;
}

.flips .flip_cards_mobile img {
  width: 60%;
}

@media (min-width: 501px) {
  .program.web {
    display: block;
  }

  .program.mobile {
    display: none;
  }

  .program h3 {
    text-align: center;
    color: black;
    font-weight: 600;
  }

  .program .row {
    color: black;
    padding-top: 10%;
  }

  .program .row h3 {
    text-align: left;
    font-weight: normal;
  }

  .program p {
    font-size: 120%;
    line-height: 2;
  }

  .program li {
    font-size: 120%;
    line-height: 2;
  }
}

@media (max-width: 500px) {
  .program.web {
    display: none;
  }

  .program.mobile {
    display: block;
  }

  .program h3 {
    text-align: center;
    font-size: 120%;
    color: black;
    font-weight: 600;
  }

  .program .row {
    color: black;
    padding-top: 15%;
    padding-left: 6%;
    padding-right: 6%;
  }

  .program .row h3 {
    text-align: left;
    font-weight: normal;
    font-size: 130%;
  }

  .program p {
    font-size: 105%;
    line-height: 1.5;
  }

  .program li {
    font-size: 105%;
    line-height: 2;
  }
}

.program {
  font-family: "Cabin", Helvetica, Arial, serif;
  padding-top: 3%;
}

.letsdoit {
  margin-top: 10%;
  margin-bottom: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 45%;
  background-color: rgba(108, 191, 124, 1.0);
  color: white;
  font-family: "Cabin", Helvetica, Arial, serif;
  border-radius: 2px;
}

.letsdoit:hover {
  background-color: rgba(108, 191, 124, 1.0);
  color: white;
}

.letsdoit_text {
  font-size: 125%;
  margin:auto;
}

@media (min-width: 501px) {
  .letsdoit {
    margin-left: 2%;
  }
  .bottom-up {
    padding-left: 20%;
  }
}

@media (max-width: 500px) {
  .letsdoit {
    margin-left: 24%;
    padding-top: 4%;
    padding-bottom: 4%;
    width: 50%;
  }
  .bottom {
    font-size: 140%;
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
  }
  .bottom-up {
    padding-left: 0%;
  }
}

.letsdoit_text {
  padding: 8%;
  font-size: 120%;
  margin:auto;
}

.footer {
  background-color: rgba(33, 33, 33, 1.0);
  width: 100%;
  color: white;
}

.foot {
  padding-top: 3%;
  padding-bottom: 3%;
}

@media (max-width: 500px) {
  .copyright {
    padding-top:7%;
    color:rgba(255, 255, 255, 0.25);
    font-style:italic;
    padding-bottom:0%;
  }
}

@media (min-width: 501px) {
  .copyright {
    padding-top:4%;
    color:rgba(255, 255, 255, 0.25);
    font-style:italic;
    padding-bottom:0%;
  }
}

@media (max-width: 500px) {
  #logo_white {
    display: none;
  }
}

@media (max-width: 500px) {
  .foot .row .col-sm-12 {
    padding-top: 5%;
    padding-left: 20%;
  }
}

a {
  color: white;
}
a:hover {
  text-decoration: none;
  color: rgba(108, 191, 124, 1.0);
}

.icon {
  font-size: 140%;
}

.subhead {
  color: rgba(255, 255, 255, 0.54);
  font-family: "Cabin", Helvetica, Arial, serif;
}

.footer hr {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  width: 70%;
  margin-left: 0;
}

label {
    font-family: "Cabin", Helvetica, Arial, serif;
    font-weight: 600;
    font-size: 80%;
    color: rgba(105, 105, 105, 1.0);
}

.modal-header {
    margin-top: 2%;
    border-bottom: 0px;
    font-family: "Cabin", Helvetica, Arial, serif;
    font-size: 103%;
}

.form_button {
    text-align: right;
}

.form_button .btn {
    padding: 6px 50px;
    border-radius: 2px;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
